@namespace KeyboardSharp
@inject KeyboardService KeyboardService

<div class="keyboard">
    <CascadingValue Value="ShowAltValue">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool ShowAltValue = false;

    public void OnKeyDown(KeyboardEventArgs args)
    {
        if (!args.Repeat && args.Code.StartsWith("Shift", StringComparison.OrdinalIgnoreCase))
        {
            ShowAltValue = true;
            StateHasChanged();
        }
    }

    public void OnKeyUp(KeyboardEventArgs args)
    {
        if (!args.ShiftKey && args.Code.StartsWith("Shift", StringComparison.OrdinalIgnoreCase))
        {
            ShowAltValue = false;
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        KeyboardService.KeyDown += OnKeyDown;
        KeyboardService.KeyUp += OnKeyUp;
    }
}